<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="../../../../assets/perfilvero.jpg" alt="">
            <p>
                hola Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, necessitatibus consequuntur. Inventore nobis, doloribus dolore atque, similique sit eaque repellendus quo debitis tempore corporis esse aut ex! Ratione, explicabo sed!
            </p>
        </div>
        <div class="swiper-slide">
            <p>
                chau Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tempore necessitatibus hic ex est eaque facilis consectetur, doloremque ipsam possimus, adipisci odio ratione magnam aliquam libero sapiente impedit consequatur ea.
            </p>
                <img src="../../../../assets/perfilvero.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <p>
                    chau Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tempore necessitatibus hic ex est eaque facilis consectetur, doloremque ipsam possimus, adipisci odio ratione magnam aliquam libero sapiente impedit consequatur ea.
                </p>
                    <img src="../../../../assets/perfilvero.jpg" alt="">
            </div>
    </div>
</div>