<section>
    <h3>Quienes Somos</h3>
<div class="container">
      <div class="card">
          <div class="content">
            <h2>Psicologo</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam exercitationem ab nesciunt magni! Ipsam hic    numquam    nostrum sapiente veniam assumenda qui natus? Ullam placeat qui fugit architecto laboriosam nihil sint.  </p>
              <img src="../../../assets/foto1.png" alt="Psicologo2" class="one">            
          </div>
      </div>
      <div class="card">
          <div class="content">
              <h2>Psicologo</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam exercitationem ab nesciunt magni! Ipsam hic    numquam    nostrum sapiente veniam assumenda qui natus? Ullam placeat qui fugit architecto laboriosam nihil sint.  </p>
              <img src="../../../assets/foto1.png" alt="Psicologo2" class="two">            
          </div>
      </div>
</div>
</section>