<section>
    <div class="container-quienes">
    <h3>Quienes Somos</h3>
</div>
    <div class="container-quienes-somos">
        <img src="../../../assets/foto1.png" alt="Psicologo1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam exercitationem ab nesciunt magni! Ipsam hic numquam nostrum sapiente veniam assumenda qui natus? Ullam placeat qui fugit architecto laboriosam nihil sint. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur corporis similique voluptatem animi recusandae? Voluptate labore expedita necessitatibus distinctio voluptatem vitae. Hic dolores obcaecati aliquam deserunt quae perspiciatis dignissimos assumenda.</p>
        <img src="../../../assets/foto2.png" alt="Psicologo2">            
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta fuga neque voluptate expedita possimus nisi aliquid mollitia accusantium veritatis velit, recusandae quasi quisquam nihil aspernatur culpa ipsum. Corrupti, dignissimos deserunt? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione quo voluptatem iusto libero magnam rem explicabo, totam quidem magni ducimus facilis dolorem similique est illo tempora illum. Repellendus, quo! Debitis!</p>
    </div>
</section>