<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,200;1,300&display=swap" rel="stylesheet">

<section class="bg">
    <h3>Quienes Somos</h3>
<div class="container">
      <div class="card">
          <div class="content">
              <p>Somos Lic. Luciana Caruso y Lic Sebastián Segui, profesionales de la psicología, especialistas en el abordaje del trauma y la disociación, con amplia experiencia clínica. Somos amigos que comparten una mirada similar sobre la práctica profesional empática y compasiva y la pasión por la formación de terapeutas comprometidos. ( en acompañar en procesos de sanación)   </p>
              <img src="../../../assets/foto1.png" alt="Psicologo2" class="one">
              <p>Esta misma pasión nos llevó a  crear el centro PEyC. El cual brinda capacitación, supervisión y acompañamiento  a terapeutas, con el objetivo de conformar un perfil integrador que combina los últimos avances sobre neurociencia, distintos modelos y técnicas de psicología, trauma y disociación, aunando el mindfulness y las prácticas contemplativas, como así también diferentes propuestas de tratamiento psicoterapéutico para todo aquel que quiera transformar su vida.
            Es de esta manera que integramos distintos modelos psicológicos,  técnicos y espirituales ya que consideramos fundamental  la coherencia del terapeuta, la empatía y la compasión para estar en absoluto servicio al otro.</p>            
          </div>
      </div>
</div>
</section>