
<div class="content">
    <h1> Contacta con <span>nosotras</span></h1>
    <div class="contact-wraper">
        <div class="contact-form">
            <h3>Escribinos</h3>
            <form>
                <div>
                    <label>Nombre Completo</label>
                    <input type="text" name="nombre-completo">    
                </div>
                <div>
                    <label>Correo Electrónico</label>
                    <input type="email" name="email">    
                </div>
                <div>
                    <label>Teléfono</label>
                    <input type="tel" name="telefono">    
                </div>
                <div>
                    <label>Asunto</label>
                    <input type="text" name="asunto">
                </div>
                <div class="block">
                    <label>Mensaje</label>
                    <textarea name="mensaje" rows="5"></textarea>
                </div> 
                <div class="block">
                    <button type="submit">Enviar</button>
                </div>  
            </form>
        </div>
        <div class="contact-info">
            <h4>Más Información</h4>
            <ul>
                <li><span>Dirección:</span> San Antonio (S) 134 - Gualeguay Entre Ríos</li>
                <li><span>Teléfono:</span> 3444 439570</li>
                <li><span>Email:</span> legaleskulmanmatorras@gmail.com</li>
            </ul>
            <p>Asesoría Jurídica Integral. Causas civiles y comerciales, derecho de familia, sucesiones, derecho laboral, accidentes de tránsito, defensa del consumidor, daños y prejuicios</p>
        </div>
    </div>
</div> 
