    <nav class="navbar navbar-expand-lg navbar-light navbar-u fixed-top" style="background-color: #e8ccca">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Logotipo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="container">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="nav ms-auto">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#home">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="active" href="/about">Quienes Somos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routeLink="active" href="#mision">Mision</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" click="toContact()" routerLink="active" href="/contact">Contacto</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </nav>


  