nav{
    background-color: white;
}
a{
    font-family: Raleway;
    margin: 0 15px;
}
img{
    width: 50px;
}
@media(max-width:480px){
    a{
        margin: 0;
        font-size: 15px;
    }
    img{
        width: 30px;
    }
}