h2{
    margin: 30px;
    text-transform: uppercase;
    color: #fff;
}
.swiper{
    border-top: 1px solid white;
    max-width: 80% !important;
    margin-top: 20px;
}
.swiper-slide{
    justify-content: center;
    background-color: rgba(119, 120, 121, 0.432);
}
p,h3{
    text-align: center;
    width: 75%;
    padding: 20px;
    margin: auto;
    color: #fff;
}
p{
    font-size: 25px;
}