.container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-around;
}
.titulo{
    width: 50%;
    margin: 30px;
}
.swiper {
    width: 400px;
    height: 400px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  width: 100%;
}
@media(max-width:780px){
    .titulo{
        width: auto;
    }
    .swiper {
        width: 300px;
        height: 300px;
    }
    .swiper-slide img{
        width: 300px;
    }
}
@media(max-width:480px){
    .container{
        flex-direction: column;
    }
}