
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,200;1,300&display=swap" rel="stylesheet">


<app-header></app-header>

<!-- Contenido del home -->
<div class="container">
    <div class="cabecera">
    <h1>Accede a nuestros cursos</h1>
    <button type="button" class="btn btn-outline-secondary ">Click Aqui</button>
    </div>
<img src="../../../assets/psico1.jpg" alt="Psicologia">
</div>
    
<app-about></app-about>

<!-- Seccion Quienes Somos -->




<!-- Seccion Mision -->

    <section id="mision">
        <div class="container-vision">
            <div class="circle">
            <span class="lb"></span>
            <span class="brown"></span>
            <span class="pink1"></span>
            <span class="red"></span>
            <span class="pink2"></span>
        </div>
            <div class="content">
                <div class="container">
                    <h3>Mision</h3>
                    <p>Nos moviliza formar a terapeutas que ayuden a las personas a transformar su padecimiento diario en libertad y armonía.
                    Conformamos este centro porque creemos que la presencia del terapeuta en estado de conciencia plena, empático y compasivo es lo que le permite al paciente abrirse de manera confiada a su dolencia, a su situación traumática, transitarla para transformarla y que evolucione hacia un estado de integración, y por lo tanto, de plenitud.</p>
                </div>
                <div class="container">
                    <p>Ser referentes en la comunidad de terapeutas de trauma y de disociación, empatía y compasión. Contribuyendo a través de nuestras formaciones a que los profesionales sean más coherentes, más empáticos, más compasivos, y por   sobre todo, más comprometidos con su presencia plena, para con el paciente.</p>
                    <h3>Vision</h3>
                    
                </div>
        </div>
        </div>
    </section>
    
<app-contact></app-contact>
    
<app-footer></app-footer>
