<div class="intro">
    <h2>Estudio de abogadas</h2>
    <div class="texto">
        <p>Tradicionalmente, los abogados ejercieron su profesión solos o en pequeños grupos. Fue en Estados Unidos de América a finales del siglo XIX cuando comenzaron a reunirse grupos mayores, tendencia que pasaría rápidamente a Europa y luego al resto de los países con un desarrollo relevante de la profesión. Como un caso muy especial puede citarse Francia, donde aún hoy en día, con algunas contadas excepciones, siguen trabajando solos o en pequeños grupos. 
        </p>
        <p>Generalizando, podría decirse que las formas de organización que los abogados se han dado son básicamente tres. En primer lugar, y por lejos la forma más usada, son los abogados que ejercen solos o en pequeños grupos. En segundo, aun cuando es una fórmula que se bate en retirada, están las comunidades de techo, donde básicamente los abogados comparten la propiedad de un inmueble o contribuyen comunitariamente a los gastos generales, y cada uno lleva sus propios clientes.
        </p>
    </div>
</div>