<!-- <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,200;1,300&display=swap" rel="stylesheet">

<section class="bg">
    <div class="container-contacto">
        <h3>Contactanos</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt consequatur dolore recusandae Lorem ipsum dolor sit amet, consectetur adipisicing </p>
    </div>
    <div class="container">
       
        <div class="contacto">
     <div class="redes">
        <a href="https://www.instagram.com/">
            <img src="../../../assets/logoubi.png" alt="">
        </a>
        <p>Av Dondesea 123</p>
    </div>
    <div class="redes">
        <a href="https://www.instagram.com/">
            <img src="../../../assets/logotel.png" alt="">
        </a>
        <p>3704-123456</p>
    </div>
    <div class="redes">
        <a href="https://twitter.com/home">
            <img src="../../../assets/logoemail.png" alt="">
        </a>
        <p>email@correo.com</p>
    </div>
    <div class="redes">
        <a href="https://www.instagram.com/">
            <img src="../../../assets/logoinsta.png" alt="">
        </a>
        <p>@psicologia</p>
    </div>
    <div class="redes">
        <a href="https://www.whatsapp.com/">
            <img src="../../../assets/logofb.png" alt="">
        </a> 
        <p>Los Psicologos</p>
    </div>
</div>

<div class="formu">
    <div class="mb-3 ">
        <label class="form-label">Nombre</label>
        <input [formControl]= "name" type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="nombre">
      </div>
    <div class="mb-3">
        <label class="form-label">Ingrese su email</label>
        <input [formControl]= "email" type="email" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="correo@ejemplo.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
        <textarea [formControl]= "mensaje" class="form-control form-control-lg " id="exampleFormControlTextarea1" rows="3"></textarea>
        <button type="button" class="btn btn-success" [disabled]= "email.invalid"  (click)= "emailEnviado()">Enviar</button>
      </div>
</div>

</div>
</section> -->