<!-- <div class="container" data-aos="zoom-in" data-aos-duration="2000">
    <h1>Contacto</h1>
    <h2 *ngIf="enviado">¡Gracias, tu email fue enviado con exito!</h2>
    <form [formGroup]="contacto">
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Nombre y Apellido</mat-label>
            <input matInput formControlName="nombre">
            <mat-error *ngIf="nombreCampo?.hasError('required')">Debes ingresar tu nombre</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="jhondoe@mail.com">
            <mat-error *ngIf="emailCampo?.invalid">{{errorEmail()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Telefono (opcional)</mat-label>
            <input matInput formControlName="telefono" type="number" placeholder="(+54)1234567889 ">
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Mensaje</mat-label>
            <textarea matInput formControlName="msg" placeholder="Escribe tu mensaje..."></textarea>
            <mat-error *ngIf="msgCampo?.hasError('required')">Debes ingresar un mensaje</mat-error>
          </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="enviar()">Enviar Mensaje</button>
</div>


<div class="input">
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div> 
-->



<!-- <h1 class="animate_animated animate_bounce">An animated element</h1> -->


<div class="content">
    <h1 class="logo"> Contacta con <span>Nosotros</span></h1>
    <div class="contact-wraper">
        <div class="contact-form">
            <h3>contáctanos</h3>
            <form action="">
                <p>
                    <label>Nombre Completo</label>
                    <input type="text" name="nombre-completo">    
                </p>
                <p>
                    <label>Correo Electrónico</label>
                    <input type="email" name="email">    
                </p>
                <p>
                    <label>Teléfono</label>
                    <input type="tel" name="telefono">    
                </p>
                <p>
                    <label>Asunto</label>
                    <input type="text" name="asunto">
                </p>
                <p class="block">
                    <label>Mensaje</label>
                    <textarea name="mensaje" rows="5"></textarea>
                </p> 
                <p class="block">
                    <button type="submit">Enviar</button>
                </p>  
            </form>
        </div>
        <div class="contact-info">
            <h4>Más Información</h4>
            <ul>
                <li><i class="fas fa-map-marker-alt"></i>direccion de calle</li>
                <li><i class="fas fa-phone"></i>111 111 111 1111</li>
                <li><i class="fas fa-envelope-opne-text"></i>contact@website.com</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, possimus et sint illum dicta sit ullam reprehenderit doloremque quas incidunt!</p>
            <p>Company.com</p>    
        </div>
    </div>
</div> 
