/* 
.input{
    width: 500px;
}

.container{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1,h2{
    color: #fff;
}
h1{
    margin: 20px;    
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
mat-form-field{
    background-color:rgba(255,255,255, .5);;
    margin: 15px;
    padding: 5px;
    width: 90%;
    border-radius: 15px;
}
mat-label{
    color:#fff
}
mat-error{
    font-size: 14px;
    margin-left: 10px;
}

// Sacar flechitas de input number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox 
} */


*{
    box-sizing: border-box; 
}

.content{
    background-color: rgba(71, 70, 70, 0.555);
    color: #fff;
    font-family: 'Quicksand', sans-serif;   
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo{
    text-align: center;
    font-size: 3em;
}
.logo span{
    color: rgb(87, 218, 241);
}
.contact-wraper{
    box-shadow: 0 0 20px 0 rgba(87, 218, 241, 0.274);
}
.contact-wraper > *{
    padding: 1em;
}
.contact-form{
    background-color: rgba(118, 125, 126, 0.445);
}

.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block{
    grid-column: 1 / 3;
}

.contact-form form p{
     margin: 0;
    padding: 1em;    
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: .5em;
    border: none;
    background: none;
    outline: none;
    color: whitesmoke;
    border-bottom: 1px solid rgb(77, 185, 185);
}
.contact-form form button{
    background: rgb(43, 41, 41);
    border: 0;
    text-transform: uppercase;
    padding: .8em; 
}

.contact-form form button:hover, 
.contact-form  form button:focus{
    background: rgb(70, 169, 194);
    color: rgb(21, 22, 22);
    transition: background-color .8s ease-out;
    outline: 0;
}

.contact-info{
    background-color: rgba(12, 11, 11, 0.548);   
}
 
.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-info ul{
    list-style: none;
}
.contact-info ul li{
    padding: .3em;
}

@media (min-width: 700px) {
    body{
        padding: 0 4rem;
    }
    .contact-wraper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wraper > *{
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p{
        padding: 1em;
        text-align: left;
    }
}






















