
.contenedor{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
header{
    width: 100%;
    padding: 50px ;
    background-color: rgba(118, 215, 245, 0.247);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
}
h1{
   font-size: 3em;
   font-weight: 500;
   margin-bottom: 15px;
}
h2{
   margin: 15px;
   font-size: 30px;
}
h3{
   margin: 5px;
   height: 20px;
}
.servicios{
   min-width: 100%;
   display: flex;
   text-align: center;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin-bottom: 30px;
}
.caja{
   margin: 10px;
   background-color: rgba(67, 93, 100, 0.336);
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   text-align: center;
   height: 250px;
   width: 250px;
   box-shadow: 0px 3px 0px rgba(55, 68, 68, 0.795);
   border-radius: 20px;
   border: 2px solid rgba(88, 93, 94, 0.425);
   transition: .5s;

}
.caja:hover{
   border: 2px solid rgba(87, 218, 241, 0.747);
   width: 300px;
   height: 300px;
   }
   
/* a{
   background-color: rgba(194, 205, 206, 0.582);
   text-decoration: none;
   color: white;
   font-size: 1em;
   border-radius: 15px;
   margin: 20px; 
   padding: 5px 0px;
   text-align: center;
   width: 100px;
   transition: .5s;
   box-shadow: 0px 3px 0px #42444448;
} */

button{
 /*   color: rgb(13, 14, 14); */
   width: 50%;
   height: 20%;
}
@media(max-width:480px){
   .contenedor{
      height: auto;
   }

}