<div class="contenedor">

    <header>
        <h1>Servicios</h1>
        <h3>Asesoramiento Profesional en tu Reclamo Laboral</h3>
</header>

<div class="container">
    <div class="caja"><h2>Accidentes y Enfermedades</h2> <a href="#">Ver más</a></div>
    <div class="caja"><h2>Despidos</h2> <a href="#">Ver más</a></div>
    <div class="caja"><h2>Trabajo en Negro</h2> <a href="#">Ver más</a></div>
    <div class="caja"><h2>Otros Reclamos Laborales</h2><a href="#" >Ver más</a></div>
</div>
</div>